---
import Banner from "./Banner.astro";
import Header from "./Header.astro";
import Services from "./Services.astro";
---

<div class="bg-hero-cover bg-cover w-full h-auto">
  <div class="max-w-screen-lg mx-auto">
    <Header />
    <Banner />
    <Services />
  </div>
</div>
