---
import Hero from "@components/Hero.astro";
import Experience from "@components/Experience.astro";
import "@fontsource-variable/montserrat";
import People from "@components/People.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/finmatch.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Finmatch | Un servicio de contadores y asesores financieros</title>
  </head>
  <body class="bg-balance">
    <Hero />
    <Experience />
    <People />
    <main>
      <slot />
    </main>
  </body>
</html>
